<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express PostgreSQL Template</title>
    <link rel="stylesheet" href="/index.css" type="text/css" />
    <!-- <style>
      @import url("/src/views/index.css");
    </style> -->
  </head>
  <body>
    <h1>Express PostgreSQL Template</h1>
    <form id="users-table">
      <label for="fname">First Name</label>
      <input id="fname" name="fname" size="40" type="text" />
      <label for="lname">Last Name</label>
      <input id="lname" name="lname" size="40" type="text" />
      <lavel for="email">Email</lavel>
      <input id="email" name="email" size="40" type="email" />
      <input id="submit" type="button" value="Create User" />
    </form>
  </body>
</html>